#abcd{
  background-color: red;
}
#header{
  background-color: blue;
  color: aliceblue;
}
#footer{
  background-color: aquamarine;
}
.login-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  border-radius: 15px;
  padding: 2rem;
}